/* Style CSS */
html {
    margin: 0px;
    padding: 0px;
    /* height: 100%; */
} 

nav { 
    top: 0;
    margin-bottom: 25px; 
    width: 100%;
    height: 75px;
    margin: 0px 0px 0px 0px;
    position: fixed;
    overflow: hidden;
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    font-size: 12px;
    background-color: #384957;
    color: #ffffff;
}
/* .clearfix:after { 
    content: "";
    display: block;
    clear: both;
  }*/
body {
background: url(Assets/Images/light_grey_@2X.jpg);
/* background-color: black; */
/* overflow: hidden; */
margin: 0;
padding: 0;
}

.heading-font {
    float: left;
    color: #ffffff;
    background-color: aqua;
    font-weight: bold;
    margin-left: 138px;
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position:relative;
    width: 200px;
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

li {
float: right;
color: #ffffff;
font-size: 12px;
padding-top: 5px;
text-align: center;
}

 nav ul { 
    list-style: none;
    margin-right: 138px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section{
    /* display: none; */
    width: 750px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    margin-top: 100px;
    border: #999;
    border-style: solid;
    border-width: 2px;

}
.clearfix::after {
    content: "";
    display: block;
    clear:both;
}


footer {  
    width: 100%;
    height: 50px;
    padding: 0;
    /* margin: 0px 0px 0px 0px; */
    /* position: fixed; */
    overflow: hidden;
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    font-size: 10px;
    background-color: #384957;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-color: aqua;
    border-width: 3px 0px 0px 0px;
    
}

.hidden {
    height: 35px;
}
.copyright {
    margin: 0;
    padding: 0;
    height: 12px;
}



/* This is for portfolio page */
img {
    width: 300px;
    float: left;
    min-height: 250px;
    max-height: 250px;
    padding-right: 20px;
    padding-bottom: 40px;
}



      @media screen and (max-width: 768px) {
   
        section {
            width: 90%;
            padding: 20px;
          } 
        p {
            padding: 0px 20px 0px 0px;
        }
        
        form {
            width: 90%;
        }
        nav ul {
            margin-right: 0;
        }
     
          @media screen and (max-width: 640px) {
       
nav { 
    top: 0;
    margin-bottom: 25px; 
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    position: fixed;
    overflow: hidden;
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    font-size: 12px;
    background-color: #384957;
    color: #ffffff;
}
            section {
                width: 90%;
                padding: 20px;
              }
              p {
                padding: 0px 20px 0px 0px;
            }

            img {
            width:75%;
            }

            form {
                width: 90%;
            }

        
            li {
                color: black;
                display: block;
            }
            nav ul {
                margin-right: 0;
            }
         